
#areas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
}
#areas section {
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.8s ease-in;
    background-size: cover;
}


#areas section h2 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-weight: 700;
    text-align: center;
    transition: all 0.2s ease-in;
}

.hci {
    background-image: url(../images/hci.jpg);
}
.vr {
    background-image: url(../images/vr.jpg);
}
.swe {
    background-image: url(../images/swe.jpg);
}
.games {
    background-image: url(../images/gaming.jpg);
}
.robotics {
    background-image: url(../images/robotics.jpg);
}
.ai {
    background-image: url(../images/ai-todo-license.jpg);
}
.theory {
    background-image: url(../images/turing.png);
}
.cyber {
    background-image: url(../images/cyber-1.png);
}
.overlay-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    transition: all 0.8s ease-in;
}

#areas section:hover .overlay-box {
    background-color: #00000000;
}


@media screen and (max-width: 1000px) {

    #areas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {

    #areas {
        grid-template-columns: 1fr;
    }
}