.area-overview > * {
    margin-bottom: 40px;
}
.area-overview .overview,
.area-overview .faculty{
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 30px;
}


.area-overview .courses,
.area-overview .student-work {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 30px;
}
#lightbox img {
    width: 100%;
}

#lightbox h2 {
    grid-column: 1 / 3;
}