.slide-content.area-section {
    padding-top: 30px;
}

.areas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 50px;
}
.areas section {
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 5px;
    transition: all 0.2s ease-in;
}
.areas section .overlay-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000077;
    transition: all 0.2s ease-in;
}

.areas section h2 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-weight: 700;
    text-align: center;
}

.areas section:hover {
    margin: 0px;
}

.areas section:hover .overlay-box {
    background-color: #00000000;
}





.hci {
    background-image: url(../images/hci.jpg);
}
.vr {
    background-image: url(../images/vr.jpg);
}
.swe {
    background-image: url(../images/swe.jpg);
}
.games {
    background-image: url(../images/gaming.jpg);
}
.robotics {
    background-image: url(../images/robotics.jpg);
}
.ai {
    background-image: url(../images/ai-todo-license.jpg);
}
.theory {
    background-image: url(../images/turing.png);
}
.cyber {
    background-image: url(../images/cyber-1.png);
}
.ds {
    /* background-image: url(../images/ds-1.jpg); */
    background-image: url(../images/ds-2.jpg);
}

#lightbox {
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    z-index: 200;
    background-color: rgba(50, 50, 50, 0.9);
}

#lightbox .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65vw;
    min-height: 100vh;
    padding: 50px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.2s ease-in;
    margin-left: -65vw;
}

#lightbox.show {
    left: 0;
}

#lightbox.show .content {
    margin-left: 0vw;
}

#lightbox .close {
    align-self: flex-end;
    margin: 10px 20px;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 0;
}
#lightbox.show .close {
    left: calc(65vw - 70px);
    transition: all 0.2s ease-in;
}


@media screen and (max-width: 1000px) {
    #lightbox .content {
        margin-left: 0vw;
        width: 100vw;
    }

    #lightbox.show .close {
        left: calc(100vw - 70px);
        transition: none;
    }

    .areas {
        grid-template-columns: repeat(2, 1fr);
    }
    .areas section:hover {
        margin: 5px;
    }
}

@media screen and (max-width: 600px) {

    .areas {
        grid-template-columns: 1fr;
    }
}