#course-list {

}

#course-list p {
    margin: 0;
}
#course-list h2 {
    margin-bottom: 0;
    font-weight: 400;
}

.fa-circle-check {
    color: rgb(21, 136, 21);
}

.fa-circle-xmark {
    color: rgb(162, 28, 28);
}

strong {
    font-weight: 500;
}