.curriculum-container {
    display: grid;
    grid-template-columns: auto 30vw;
    column-gap: 50px;
    align-items: start;
}
.content {
    padding-top: 30px;
}
.course-areas {
    display: flex;
    flex-wrap: wrap;
}
.tag {
    border-radius: 6px;
    margin: 10px 10px 0px 0px;
    padding: 5px 10px;
    background-color: #F0F0F0;
}
aside {
    background-color: #F0F0F0;
    padding-top: 85px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside a, aside a:link, aside a:hover, aside a:active {
    color: #444;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 300; */
    border-bottom: solid 2px transparent;
}
aside a:hover {
    border-bottom: solid 2px #444;
}

.curriculum h2 {
    font-size: 1.2em;
    font-weight: 500;
}
.curriculum > section p, .curriculum li {
    font-size: 0.95em;
}


.curriculum > section {
    margin: 80px 0px;
}

.curriculum ul {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}
.curriculum li {
    padding-left: 2.2em;
    margin-bottom: 0px;
    margin-top: 0px;
    /* margin-bottom: 0px; */
}
.curriculum li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: "FontAwesome";
    display: inline-block;
    margin-left: -1.8em; /* same as padding-left set on li */
    width: 1.8em; /* same as padding-left set on li */
    color: rgb(49, 177, 23);
    font-weight: 400;
}

.more, .more:active, .more:link, .more:visited, .more:hover {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 4px 12px;
    background-color: white;
    border: solid black 2px;
    font-family: 'Poppins', sans-serif;
    /* border-radius: 4px; */
}

.more:hover {
    background-color: black;
    color: white;
}


@media screen and (max-width: 800px) {

    .curriculum {
        grid-template-columns: 1fr;
    }
}