@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Lora', serif;
    margin: 0;
    overflow-y: scroll;
    color: #444;
}
h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

p, li {
    line-height: 1.6em;
    margin: 8px 0px;
}

body * {
    box-sizing: border-box;
}

body > header {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    /* background-color: rgb(237, 237, 14); */
    background-color: #f6f63d;
    height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.logo h1, .logo h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
}

.logo h2 {
    font-size: 1em;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
header nav ul li {
    margin-right: 15px;
}
header nav a, nav a:link, nav a:hover, nav a:active {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-bottom: solid 2px transparent;
}
header nav a:hover {
    color: #444;
    border-bottom: solid 2px black;
}


main {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 30px;
    min-height: calc(100vh - 250px);
    position: relative;
    overflow: hidden;
    margin-top: 120px;
}

main h1 {
    text-transform: uppercase;
    font-size: 2em;
}

h2 {
    font-weight: 300;
}


footer {
    background-color: #444;
    color: white;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100px;
}



.mobile {
    display: none;
}


@media screen and (max-width: 1200px) {
    header {
        padding: 1vh 3vw 3vh 3vw;
    }
    main {
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 900px) {
    header {
        padding: 1vh 3vw;
        height: 70px;
        align-items: center;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);    
    }
    header h1, header h2 {
        font-size: 1.4em;
        font-weight: 400;
    }
    header h2 {
        display: none;
    }
    .mobile {
        display: block;
        font-size: 20px;
        margin-top: -3px;
    }
    main {
        margin-top: 90px;
        padding-left: 0;
        padding-right: 0;
    }
    .slide {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    nav ul {
        height: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100vw;
        top: 70px;
        left: 0;
        justify-content: flex-start;
        /* background-color: rgb(237, 237, 14); */
        background-color: #f6f63d;
        transition: height 0.2s ease-in;
        padding: 0;
    }

    nav.show ul {
        height: 256px;
        box-shadow: 0px 7px 6px rgb(0 0 0 / 16%), 0px 6px 6px rgb(0 0 0 / 23%);
    }
    nav li {
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0px 3vw;
    }
    nav li a {
        width: 100%;
    } 
    nav li a:hover {
        border: solid 2px transparent;
        font-weight: 600;
    }
}