@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 0;
    overflow-y: scroll;
}

body * {
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

main h1 {
    /* margin: 0px; */
    text-transform: uppercase;
    font-size: 2em;
}
header h1, header h2 {
    font-weight: 300;
    margin: 0;
}
header h1 {
    font-size: 1.6em;
}
header h2 {
    font-size: 1em;
}

h2 {
    font-weight: 300;
}

header {
    background-color: rgb(237, 237, 14);
    min-height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 20px;
}
/* nav {
    align-self: flex-end;
} */

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
nav ul li {
    margin-right: 15px;
}
nav a, nav a:link, nav a:hover, nav a:active {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-bottom: solid 2px transparent;
}
nav a:hover {
    color: #444;
    border-bottom: solid 2px black;

}

header {
    padding-left: 10vw;
    padding-right: 10vw;
}



footer {
    background-color: #444;
    color: white;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100px;
}

main {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 30px;
    min-height: calc(100vh - 250px);
    /* display: flex; */
    /* border: solid 3px palevioletred; */
    position: relative;
    overflow: hidden;
}
