
<div class="areas">
    <section class="hci" onclick="showLightbox('pages/hci.html')">
        <div class="overlay-box">
            <h2>Human-Computer Interaction</h2>
        </div>
    </section>
    <section class="games">
        <div class="overlay-box">
            <h2>Games</h2>
        </div>
    </section>
    <section class="vr">
        <div class="overlay-box">
            <h2>Virtual Reality</h2>
        </div>
    </section>
    <section class="cyber" onclick="showLightbox('pages/cybersecurity.html')">
        <div class="overlay-box">
            <h2>Cybersecurity</h2>
        </div>
    </section>
    <section class="ai">
        <div class="overlay-box">
            <h2>AI & Machine Learning</h2>
        </div>
    </section>
    <section class="ds">
        <div class="overlay-box">
            <h2>Systems</h2>
        </div>
    </section>
    <section class="robotics">
        <div class="overlay-box">
            <h2>Robotics</h2>
        </div>
    </section>
    <section class="swe">
        <div class="overlay-box">
            <h2>Software Development</h2>
        </div>
    </section>
    <section class="theory">
        <div class="overlay-box">
            <h2>Theory</h2>
        </div>
    </section>
    <section class="ds">
        <div class="overlay-box">
            <h2>Data Science</h2>
        </div>
    </section>
</areas>

<script src="./js/lightbox.js"></script>
