<div class="courses">

    <header>
        <h1>Course Schedule</h1>
        <select id="term">
            <option value="2023/spring/">Spring 2023</option>
            <option value="2022/fall/">Fall 2022</option>
            <option value="2022/summer/">Summer 2022</option>
            <option value="2022/spring/">Spring 2022</option>
            <option value="2021/fall/">Fall 2021</option>
            <option value="2021/summer/">Summer 2021</option>
            <option value="2021/spring/">Spring 2021</option>
        </select>
    </header>
    <div id="course-list">

        Loading...

    </div>


    <script src="./js/courses.js"></script>
</div>